<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StatusAntragAufrecht_KVS" value=";in Bearb.;in KBV" />
    <add key="StatusAntragAufrecht_EdvNeu" value=";bewilligt;Bewilligung;eingelangt;Erfasst;Retour von MA 15" />
    <add key="StatusAntragAufrecht_LgkPlus" value="bewilligt;noch keine Entscheidung" />
  </appSettings>
</configuration>